.text-center{
text-align: center;
font-size: 37px;
color: white;
}

body{
    background-image: url(./bg.png);
 
    background-size: cover;
    mask-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 25px;
    flex-wrap: wrap;
   

}
.link-card{
    background-color: white;
    /* opacity: 0.7;
    transition: 0s; */
    border-radius: 7px;
    height: 450px;
    padding: 50px 70px;
    box-shadow: 0 1px 2px 2px rgb(8, 8, 77);
}
.box{
    margin: 15px;
    color: black;
    padding: 10px 70px;
    font-size: 17px;
    box-shadow: 0px 2px 2px 2px gray;
}
.box:hover{
    background-color: rgb(235, 233, 233);
}

.btn{
    background-color: rgb(6, 6, 68);
    color: white;
    font-size: 25px;
    margin: 24px auto;
  cursor: pointer;
    padding: 8px 110px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px rgb(8, 8, 77) ;

}
.copy-icon{
    height: 50px;
    cursor: pointer;
}
.conteiner-flex{
    display: flex;

}
.inputbox{
    margin-left: 20px ;
    margin-top: 10px;
    color: black;
    padding: 10px 55px;
    font-size: 17px;
    display: block;
    background-color: white;
    box-shadow: 0px 2px 2px 2px gray;
    
}

.link-content{
    width:450px ;
    border: none;
    margin: 10px;
    text-align: center;
}
.link-content{
    color: black;
    background-color: white;
    width:550px;
    /* height: 500px; */
    margin: 10px;
    padding:5px 30px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 2px gray;

    
}

.link-text{
    width: 400px;
    font-size: 20px;
}
.links-text-container{
    height: 70vh;
    overflow:scroll;
    -ms-text-overflow-style:none;
    scrollbar-width: 1px;
}
.links-text-container::-webkit-scrollbar{
    display: none;
}